<div class="container">

  <!-- Header -->
  <header>
    <h1>Student Enrollment</h1>
  </header>

  <!-- Add New User Button -->
  <button id="addBtn" class="btn btn-primary">Add New Student</button>
  <form id="MyForm" action="" method="post">
    <label>Enter Name</label>
      <input type="text" name="name" placeholder="Enter your name" /><br>
    <label>Enter Email</label>
      <input type="email" name="email" placeholder="Enter your email" /><br>

      <button>Save</button>
  </form>
  <!-- Body -->
  <section>
    <!-- Student Table -->
    <table class="scroll">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of elements">
          <th scope="row">{{el.id}}</th>
          <td>{{el.name}}</td>
          <td>{{el.email}}</td>
          <td>{{el.module}}</td>
          <td>{{el.rDate}}</td>
          <td>{{el.eDate}}</td>
          <td>
            <button routerLink="/details">View</button><br><br>
            <button>Edit</button><br><br>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<!-- Default form contact -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Contact us</p>

  <!-- Name -->
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <!-- Email -->
  <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Subject -->
  <label>Subject</label>
  <select class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Feedback</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
    <option value="4">Feature request</option>
  </select>

  <!-- Message -->
  <div class="form-group">
    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
  </div>

  <!-- Copy -->
  <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>
    </div>
  </div>


  <!-- Send button -->
  <button mdbBtn color="info" block="true" type="submit">Send</button>

</form>
<!-- Default form contact -->