<div class="container">

  <!-- Header -->
  <header>
    <h1>Student Enrollment</h1>
  </header>

  <!-- Add New User Button -->
  <div >
    <button id="addBtn" class="open button" onclick="openForm()">Add New Student</button>
  </div>
  <div >
    <form id="MyForm" action="" method="post">
      <label>Enter Name</label>
      <input type="text" name="name" placeholder="Enter your name" /><br>
      <label>Enter Email</label>
      <input type="email" name="email" placeholder="Enter your email" /><br>
      <label>Modules</label>
      <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1">Database</option>
        <option value="2">Software Development</option>
        <option value="3">Web Development</option>
      </select>
      <button>Save</button>
    </form>
  </div>
  
  <!-- Body -->
  <section>
    <!-- Student Table -->
    <table class="scroll">
      <thead>
        <tr>
          <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let el of students">
          <th scope="row">{{el.StudentID}}</th>
          <td>{{el.StudentName}}</td>
          <td>{{el.Email}}</td>
          <td>{{el.ModuleName}}</td>
          <td>{{el.Date_Registered}}</td>
          <td>{{el.Date_Edited}}</td>
          <td>
            <button routerLink="/details">View</button><br><br>
            <button>Edit</button><br><br>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>