<div class="panel">
    <header>
        <h2>Student Details</h2>
    </header>

    <section>

        <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" width=80px hieght=100px>
        <!-- 
        <div *ngFor="let dt of data">
            <h3>ID: {{dt.id}}</h3>
            <h3>Name : {{dt.name}} </h3>
            <h3>Email: {{dt.email}} </h3>
            <h3>Module(s): {{dt.module}}</h3>
            <h3>Date Registred: {{dt.rDate}}</h3>
            <h3>Date Edited: {{dt.eDate}}</h3>
        </div> -->
    </section>
</div>